h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}

form {
    font-family: 'Quicksand', sans-serif;

    input {
        padding-left: 1%;
    }

    fieldset {
        margin: 1%;
        background-color: #c6c6c6;
        border-radius: 20px;
        padding-left: 2%;
        padding-bottom: 1%;
        padding-right: 2%;

        legend {
            padding-bottom: 1%;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: bold;
        }
    }

    mat-tab-group {
        background-color: primary;
    }

    .tab-content {
        padding-top: 1%;
    }
}