<div class="container">
    <h1>Registro de usuario</h1>
    <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
        <fieldset class="row g-3">
                <legend>Datos de acceso</legend>
                
                <!-- USERNAME -->
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>NOMBRE DE USUARIO</mat-label>
                        <input type="text" matInput formControlName="username" id="username" required>
                        <mat-icon matTextPrefix>person</mat-icon>
                        <mat-error *ngIf="registerForm.get('username')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <!-- PASSWORD -->
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>CONTRASEÑA</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" id="password" required>
                        <mat-icon matTextPrefix>lock</mat-icon>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="registerForm.get('password')!.hasError('required')">Este campo es obligatorio</mat-error>
                        <mat-error *ngIf="registerForm.get('password')!.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>REPETIR CONTRASEÑA</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput id="repeatPass" required>
                        <mat-icon matTextPrefix>lock</mat-icon>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="registerForm.get('password')!.hasError('required')">Este campo es obligatorio</mat-error>
                        <mat-error *ngIf="registerForm.get('password')!.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</mat-error>
                    </mat-form-field>
                </div>
            </fieldset>

            <fieldset class="row g-3">
                <legend>Datos personales</legend>

                <div class="row">
                    <!-- NAME -->
                    <mat-form-field class="col-md-4" appearance="fill">
                        <mat-label>NOMBRE</mat-label>
                        <input type="text" matInput formControlName="name" id="name" required>
                        <mat-error *ngIf="registerForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
    
                    <!-- SURNAME -->
                    <mat-form-field class="col-md-5" appearance="fill">
                        <mat-label>APELLIDOS</mat-label>
                        <input type="text" matInput formControlName="surname" id="surname" required>
                        <mat-error *ngIf="registerForm.get('surname')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    
                    <!-- IDENTIFICATION -->
                    <mat-form-field class="col-md-3" appearance="fill">
                        <mat-label>DNI/NIE</mat-label>
                        <input type="text" matInput formControlName="identification" id="identification"  required>
                        <mat-icon matTextPrefix>badge</mat-icon>
                        <mat-error *ngIf="registerForm.get('identification')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <!-- BIRTHDYA -->
                    <mat-form-field class="col-md-3" appearance="fill">
                        <mat-label>FECHA DE NACIMIENTO</mat-label>
                        <input type="date" matInput formControlName="birthday" id="birthday"  required>
                        <mat-icon matTextPrefix>cake</mat-icon>
                    </mat-form-field>
                    <div *ngIf="registerForm.get('birthday')!.errors" class="invalid-feedback">
                        <mat-error *ngIf="registerForm.get('birthday')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </div>
                    
                    <!-- EMAIL -->
                    <mat-form-field class="col-md-5" appearance="fill">
                        <mat-label>EMAIL</mat-label>
                        <input type="email" matInput formControlName="email" id="email"  required>
                        <mat-icon matTextPrefix>mail</mat-icon>
                        <mat-error *ngIf="registerForm.get('email')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                   
                    <!-- NUMBER PHONE -->
                    <mat-form-field class="col-md-4" appearance="fill">
                        <mat-label>TELEFONO</mat-label>
                        <input type="tel" matInput name="phone_number" id="phone_number">
                        <mat-icon matTextPrefix>call</mat-icon>
                    </mat-form-field>   
                </div>
                <div class="row">
                    <!-- HOME ADDRESS -->
                    <mat-form-field class="col-md-4" appearance="fill">
                        <mat-label>CALLE</mat-label>
                        <input type="tel" matInput name="direccion" id="calle">
                        <mat-icon matTextPrefix>house</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="col-md-1" appearance="fill">
                        <mat-label>Nº</mat-label>
                        <input type="tel" matInput name="direccion" id="number">
                    </mat-form-field>
                    <mat-form-field class="col-md-2" appearance="fill">
                        <mat-label>BLOQUE</mat-label>
                        <input type="tel" matInput name="direccion" id="bloque">
                    </mat-form-field>
                    <mat-form-field class="col-md-2" appearance="fill">
                        <mat-label>ESCALERA</mat-label>
                        <input type="tel" matInput name="direccion" id="escalera">
                    </mat-form-field>
                    <mat-form-field class="col-md-2" appearance="fill">
                        <mat-label>PUERTA</mat-label>
                        <input type="tel" matInput name="direccion" id="puerta">
                    </mat-form-field>
                    <mat-form-field class="col-md-1" appearance="fill">
                        <mat-label>LETRA</mat-label>
                        <input type="tel" matInput name="direccion" id="letra">
                    </mat-form-field>                    
                </div>    
            </fieldset>

            <fieldset class="row g-3">
                <legend>Datos de pago</legend>
                
                <div class="row">
                    <mat-tab-group>
                        <!-- CREDIT CARD -->
                        <mat-tab id="creditCard"> 
                            <ng-template mat-tab-label>
                                <mat-icon>credit card</mat-icon>
                                Tarjeta de crédito
                            </ng-template>
                            <div class="container-fluid tab-content">
                                <div class="row">
                                    <mat-form-field class="col-md-6" appearance="fill">
                                        <mat-label for="cardNumber">Número de tarjeta </mat-label>    
                                        <input type="text" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="cardNumber">Fecha de caducidad</mat-label>     
                                        <input type="date" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="csv">CSV</mat-label>     
                                        <input type="number" matInput name="csv" id="csv">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
    
                        <!-- BIZUM -->
                        <mat-tab id="bizum">
                            <ng-template mat-tab-label>
                                Bizum
                            </ng-template>
                            <div class="container-fluid tab-content">
                                <div class="row">
                                    <mat-form-field class="col-md-6" appearance="fill">
                                        <mat-label for="cardNumber">Número de tarjeta </mat-label>    
                                        <input type="text" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="cardNumber">Fecha de caducidad</mat-label>     
                                        <input type="date" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="csv">CSV</mat-label>     
                                        <input type="number" matInput name="csv" id="csv">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
    
                        <!-- PAYPAL -->
                        <mat-tab id="paypal"> 
                            <ng-template mat-tab-label>
                                PayPal
                            </ng-template>
                            <div class="container-fluid tab-content">
                                <div class="row">
                                    <mat-form-field class="col-md-6" appearance="fill">
                                        <mat-label for="cardNumber">Número de tarjeta </mat-label>    
                                        <input type="text" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="cardNumber">Fecha de caducidad</mat-label>     
                                        <input type="date" matInput name="cardNumber" id="cardNumber">
                                    </mat-form-field>
    
                                    <mat-form-field class="col-md-3" appearance="fill">
                                        <mat-label for="csv">CSV</mat-label>     
                                        <input type="number" matInput name="csv" id="csv">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </fieldset>

            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="my-2 rojo" texto="Enviar" id="enviar" [disabled]="registerForm.invalid">Enviar</button>
                <app-button mat-raised-button color="accent" id="reset" type="reset" class="mx-2" texto="Reset"></app-button>
            </div>
    </form>
</div>