<mat-card class="card card h-100">
    <img mat-card-image alt="Imagen del plato" class="card-img-top">
    <mat-card-content class="card-body">
        <h2 class="card-title text-center mb-2 pt-2"></h2>
        <div class="card-text">
            <div>
                <small class="mx-1"><span class=""></span></small>
                <small class="mx-1"><span class=""></span></small>
                <small class="mx-1"><span class=""></span></small>
                <small class="mx-1"><span class=""></span></small>
            </div>
            <hr class="my-1">
            <p></p>
        </div>
    </mat-card-content>
    <div class="botones text-center py-3">
        <a href=""><app-button color="primary" texto=""></app-button></a>
    </div>
</mat-card>