<div class="container wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="" alt="icono">
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <input type="text" id="login" class="fadeIn second" placeholder="Nombre de usuario" formControlName="usuario">
            <input type="password" id="password" class="fadeIn third" placeholder="Introduzca su contraseña" formControlName="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <a href="#" class="underlineHover">Forgot Password?</a>
        </div>
    </div>
</div>