/*--------------------------------------------------
Project: Ñam Ñam de Barrio
Version: 1.0
Last change: 14/06/2023
Assignes to: Manuel Fernández Serrano

[TABLA DE CONTENIDOS]

1. Container
2. Form
    2.1 Login Form
3. Overlay

[CÓDIGOS DE COLOR]

Color principal: #0CAF88

[FUENTES Y TIPOGRAFÍAS]
General: 'Quicksand', sans-serif
Cabeceras: 'Barlow Semi Condensed', sans-serif
--------------------------------------------------*/

/* 1. Container */
.container {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width: 50%;
    padding: 2%;
    background-color: #c6c6c6;;

    form {
        height: 100%;
        text-align: center;
        
        // 2.1 Login Form
        h1 {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 2.5em;
            text-align: center;
            font-weight: bold;
            padding-bottom: 1%;
        }

        mat-form-field {
            padding-bottom: 1%;
            width: 100%;
        }

        a {
            color: blue;
            font-size: 0.9em;
            margin: 15px 0;
            text-decoration: underline;
        }
    }
}