<div class="container">
    <h1>PLATOS DE LA SEMANA</h1>
    <div class="row mt-3">
        <div class="col-lg-4 mb-3" *ngFor="let dish of dishes">
            <mat-card class="card card h-100" >
                <img mat-card-image [src]="'https://pfc-production.up.railway.app/' + dish.photo" alt="Imagen del plato" class="card-img-top">
                <mat-card-content class="card-body">
                    <h2 class="card-title text-center mb-2 pt-2">{{ dish.name }}</h2>
                    <div class="card-text">
                        <hr class="my-2">
                        <div class="data">
                            <div class="row">
                                <h3><b>Ingredientes:</b> {{ dish.ingredients }}</h3>
                            </div>
                            <div class="row">
                                <h3><b>Número de raciones disponibles:</b> {{ dish.num_dishes }}</h3>
                            </div>
                            <div class="row">
                                <h3><b>Precio por ración:</b> {{ dish.price }}€</h3>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <h3><b>Descripción:</b> {{ dish.description }}</h3>
                        </div>
                    </div>
                </mat-card-content>
                <div class="botones text-center py-3">
                    <a href=""><app-button color="primary" texto="Saber más"></app-button></a>
                </div>
            </mat-card>
        </div>
    </div>
    
</div>