/*--------------------------------------------------
Project: Ñam Ñam de Barrio
Version: 1.0
Last change: 14/06/2023
Assignes to: Manuel Fernández Serrano

[TABLA DE CONTENIDOS]

1. Cabecera
2. Form
    2.1 Price
    2.2 Dishes number
    2.3 buttons
    2.4 Input file
    2.5 Image file

[CÓDIGOS DE COLOR]

[FUENTES Y TIPOGRAFÍAS]

General: 'Quicksand', sans-serif
Cabeceras: 'Barlow Semi Condensed', sans-serif
--------------------------------------------------*/

/* Cabecera */
h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}

/* Form */
form {
    font-family: 'Quicksand', sans-serif;
    
    // Price
    input {
        &#price {
            text-align: right;
            -moz-appearance: textfield;
    
            &:-webkit-outer-spin-button,input.example-right-align::-webkit-inner-spin-button {
                display: none;
            }
        }
        
        // Dishes number
        &#num_dishes {
            -moz-appearance: textfield;
    
            &:-webkit-outer-spin-button,input.example-right-align::-webkit-inner-spin-button {
                display: none;
            }
        }
    }

    // Buttons
    .botones {
        text-align: center;
    }

    // Input file
    .file-name {
        margin-left: 1rem;
    }
    
    // Image file
    img {
        min-width: 100%;
    }
}

