<div class="container">
    <h1>REGISTRO DE PLATOS</h1>
    <form [formGroup]="registerDishForm" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-7">
                    <img *ngIf="image" class="img-fluid img-thumbnail" src="{{ image }}">
                </div>
                <mat-form-field class="col-lg-7"> 
                    <mat-label>Select file</mat-label>
                    <input matInput readonly type="text" id="fakeFileInput" (click)="hiddenInput.click()">
                    <input hidden type="file" accept="png" #hiddenInput (change)="GetFileOnLoad($event)" formControlName="photo">
                    <mat-icon matSuffix>folder_open</mat-icon>
                    <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label for="inputEmail3">NOMBRE</mat-label>
                        <input type="text" matInput id="dishName" formControlName="name" required>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label for="num_dishes">Nº DE RACIONES</mat-label>
                        <input type="number" matInput id="num_dishes" formControlName="num_dishes" required>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label for="adress">DIRECCION</mat-label>
                        <input type="text" matInput id="adress" formControlName="adress" required>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label for="type">TIPO DE PLATO</mat-label>
                        <input type="text" matInput id="type" formControlName="type" required>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label for="ingredients">INGREDIENTES</mat-label>
                        <input type="text" matInput id="ingredients" formControlName="ingredients" required>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label for="price">PRECIO</mat-label>
                        <input type="number" matInput id="price" formControlName="price" placeholder="0,00" required>
                        <span matTextSuffix>€</span>
                        <mat-error *ngIf="registerDishForm.get('name')!.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label for="description">DESCRIPCION DEL PLATO</mat-label>
                <textarea matInput id="description" formControlName="description" rows="3"></textarea>
            </mat-form-field>
        </div>

        <div class="text-center mt-2">
            <button mat-raised-button color="primary" type="submit" class="my-2 rojo" texto="Enviar" id="enviar" [disabled]="registerDishForm.invalid" (click)="registerDish()">Enviar</button>
            <app-button mat-raised-button color="accent" id="reset" type="reset" class="mx-2" texto="Reset" (click)="onReset()"></app-button>
        </div>
    </form>
</div>