/* Definición de estilos del tema */
@use '@angular/material' as mat;

// Incluimos los estilos comunes de Angular Material
@include mat.core();

// Definición de paleta del tema
$custom-primary-map: (
    50: #e8eaf6,
    100: #c5cbe9,
    200: #9fa8da,
    300: #7985cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #392aae,
    700: #3140a5,
    800: #29379d,
    900: #1b278d,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);

$custom-accent-map: mat.define-palette(mat.$green-palette, A200, A100, A400);

// Definimos las paletas basadas en los mapas de colores personalizados
$primary-palette: mat.define-palette($custom-primary-map);
$accent-palette: mat.define-palette($custom-accent-map);

// Creamos el objeto del tema personalizado claro
$custo-theme: mat.define-light-theme((
    color: (
        primary: $primary-palette,
        accent: $accent-palette
    )
));

// Incluimos los estilos del tema en todos los componentes
@include mat.all-component-themes($custo-theme);

/* Añadimos estilos globales */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
